{% extends 'base.html.twig' %}

{% form_theme formarticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section class="">
    <h1>  {% if editMode %}
                Modifier article
            {% else %}
                Création article
            {% endif %}    </h1>

    {{ form_start(formarticle) }}

    {{ form_row(formarticle.title, {'attr' :{ 'placeholder':'Titre de l\'article'}}) }}
    {{ form_row(formarticle.content,{'attr' :{ 'placeholder':'Contenu de l\'article'}}) }}
    {{ form_row(formarticle.image,{'attr' :{ 'placeholder':'URL de l\'image'}}) }}
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer
        {% else %}
        Ajouter l'article
        {% endif %}
    </button>
    {{ form_end(formarticle) }}
    </section>

{% endblock %}