{% extends 'base.html.twig' %}


{% block body %}

    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">Le meilleur jeu de stratégie pirate ! </h1>
                <p class="tagline">Devenez un véritable pirate </p>
                <p><a class="btn btn-default btn-lg" href="{{ path('game') }}" role="button">PLUS D'INFOS</a> <a class="btn btn-action btn-lg" href="{{asset('build/exe/ShipQuest.rar')}}" role="button" download>TELECHARGEZ MAINTENANT</a></p>
            </div>
        </div>
    </header>
    <!-- /Header -->



    <div class="container text-center top-space">
        <h2 class="thin">Téléchargez Ship Quest dès à présent et partez à la conquête des océans ! </h2>
        <p class="text-muted">
            Devenez un pirate, et à l'aide de vos bateaux, partez conquérir de nombreuses îles, développez vos ressources et soyez plus malins que votre adversaire afin de le battre et de devenir le pirate ultime !
        </p>
    </div>
    <div class="container">
        <h2 class="text-center top-space">Le jeu</h2>

        <div class="row text-center">
            <div class="col-sm-6">
                <h3>Fonctionnement du jeu</h3>
                <p>Pour voir comment le jeu fonctionne, clique ci-dessous !  </p> <br>
                <p> <a class="btn btn-default btn-sm" href="{{ path('game') }}" role="button">Jeu</a> </p>

            </div>

            <div class="col-sm-6">
                <h3>Nos dernières actualités</h3>
                <p> Tu veux voir les dernières informations sur notre jeu (mise à jour de la boutique, du jeu etc...), clique ci-dessous ! </p>
                <p> <a class="btn btn-default btn-sm" href="{{ path('article') }}" role="button">Article</a> </p>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-6">
                <h3>Notre projet tutoré</h3>
                <p> Ce jeu est la réalisation de notre projet tutoré. Si tu souhaites en savoir plus sur la réalisation du jeu,
                    ou bien si tu veux plutôt en connaître un peu plus sur la réalisation du site internet, alors clique sur l'un des boutons ci-dessous ! </p>
                <p> <a role="button" class="btn btn-default btn-sm" href="{{ path('ptut_game') }}">PTUT Jeu</a>
                    <a role="button" class="btn btn-default btn-sm" href="{{ path('ptut_web') }}">PTUT Web</a> </p>
            </div>
            <div class="col-sm-6">
                <h3>La boutique </h3>
                <p> Si tu veux personnaliser ton jeu avec des skins sur ton bateau, ou bien un nouveau fond d'écan pour ton profil, clique ici. </p> <br>
                <p>  <a role="button" class="btn btn-default btn-sm" href="{{ path('product_index') }}">Boutique</a> </p>
            </div>
        </div>
    </div>
{% endblock %}