{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <header id="head" class="secondary"></header>
<section class="container">

    {% for article in articles %}
    <article>
        <h2>{{ article.title }} </h2>


        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} </div>
        <div class="content"><img src="{{article.image}}" alt="">
            <p>{{ article.content | raw }}</p>
            <a href="{{ path('site_show', {'id': article.id }) }}" class="btn btn-primary">Lire la suite</a></div>
    </article>
    {% endfor %}
</section>
{% endblock %}
