
{% extends 'base.html.twig' %}


{% block body %}
<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{{ path('site') }}">Home</a></li>
        <li class="active">About</li>
    </ol>

    <!-- Article main content -->
    <article class="col-sm-9 maincontent">
        <header class="page-header">
            <h1 class="page-title">{{user.username}}</h1> {{ user.coins }} Credits
        </header>
    </article>
</div>


<div class="container">
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">Votre progression</h3>

            <div class="row text-center">

                <h4 class="thin top-space"> Niveau {{ user.level }}</h4>
                <h4 class="thin"> Barre de progression XP </h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: calc({{ user.xp }}% + {{ user.level }}%);" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>


            </div>

        </div>
    </div>



    <div class="container">
        <div class="jumbotron top-space">
            <div class="container">

                <h3 class="text-center thin">Nouveau dans la boutique</h3>

                <div class="row">

                    <div class="col-md-6 col-sm-6 highlight">
                        <div class="h-caption"><h4>Skins Bateau</h4></div>
                        <div class="h-body text-center">
                            <img class="img-rounded" src="http://placehold.it/350x150">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 highlight">
                        <div class="h-caption"><h4>Fonds d'écran</h4></div>
                        <div class="h-body text-center">
                            <img class="img-rounded" src="http://placehold.it/350x150">
                        </div>
                    </div>

                </div>
                <a class="btn btn-action top-space center-block" href="{{ path('product_index') }}">Allez a la boutique</a>
            </div>
        </div>


        <br>

        <div class="jumbotron top-space center-block">
            <div class="container">
                <h3 class="text-center thin">Vos produits</h3>

                <article class="col">
                    <div class="bg-light p-3"></div>
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active show">
                                <a class="nav-link" data-toggle="tab" href="#skins">Skins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#background" data-toggle="tab">Fonds d'écran</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active" id="skins">
                                {% for skin in skins %}
                                    <div class="col-4 mt-4">
                                        <div class="border border-dark rounded p-2 clearfix text-center">
                                            <h2>
                                                {{ skin.title }}
                                                {{ skin.category.name }}
                                            </h2>
                                            <img class="img-fluid rounded" style="width:600px; lenght:300px;" src="{{ skin.image }}" alt="Image de {{ skin.title }}">
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="background">
                                {% for background in backgrounds %}
                                    <div class="col-4 mt-4">
                                        <div class="border border-dark rounded p-2 clearfix text-center">
                                            <h2>
                                                {{ background.title }}
                                                {{ background.category.name }}
                                            </h2>
                                            <img class="img-fluid rounded" style="width:600px; lenght:300px;" src="{{ background.image }}" alt="Image de {{ background.title }}">
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>



        </article>
        <!-- /Article -->

    </div>	<!-- /container -->
    {% endblock %}